extends layout

block content
  .btn.btn-block.btn-large.btn-info(href="#signup_students", role="button", data-toggle="modal") Estudiantes
  .btn.btn-block.btn-large.btn-info(href="#signup_faculty", role="button", data-toggle="modal") Profesores